*{
     margin:0px;
     font-family:Helvetica,Arial,Geneva,sans-serif,"Times New Roman",Times,serif,Verdana;
     font-size:14px;
 }
body{
    background:url(images/bg2.png) #f1f1f1;
}
.wrapper{
    margin:auto;
    width: 960px;
}
.wrapper div{
    float: left;
}
.menu{
    background:url(images/menu.png) repeat-x;
    height:45px;
}
fieldset {
    background: #8bd3fa repeat-x bottom center;
}
form{
    width:350px;
    margin:0 auto;
    margin-top: 130px;
}
form div label{
    width:100px;
    display:block;
    float: left;
    clear:left;
    font-size:16px;
}
form div{
    margin:10px 10px 20px 10px;
}
.banner{
    background: url(images/login.png) no-repeat 0px 20px;
    width:400px;
    height: 180px;
    margin-top: 100px;
    margin-left: 30px;
}
.button{
    float:none;
    margin:0px 0px 0px 100px;
}