{% extends "base.html" %}
 {% load i18n %}
{% block title %}{% trans "Giảng viên" %}{% endblock %}


{% block content %}
<style>
	#giangvien{
		width: 300px;
		height:180px;
		margin: 0 auto;
		position: relative;
		z-index:5;
		
		background: #f3f3f3;
		border: 1px solid #fff;
		border-radius: 5px;
		
		box-shadow: 0 1px 3px rgba(0,0,0,0.5);
		-moz-box-shadow: 0 1px 3px rgba(0,0,0,0.5);
		-webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.5);
	}
	#giangvien #content2_1 a span{
		padding:7px 10px 7px 10px;
		background:black;
		border-radius:5px;
		border:1px solid #417690;
		transition: all 0.5s;
		-moz-transition: all 0.3s;
		-webkit-transition: all 0.3s;
		-o-transition: all 0.3s;
		-ms-transition: all 0.3s;
	} 
	#giangvien #content2_1 a{
		text-decoration:none;
		color:white;
		text-shadow: 1px 1px 0 rgba(0,0,0,0.5);
		font-weight:bold;
	}
	
	#giangvien #content2_1 a:hover span{
		background:#ff6d00;
		text-shadow: 1px 1px 0 rgba(0,0,0,1);
	}
</style>
<div id="giangvien">
	<p style="padding:30px 0px 20px 0px;"><span>{% trans "Giảng viên" %}:</span> {{ giangvien.ten_gv }}</p>
	<p style="padding:0px 0px 30px 0px;"><span>{% trans "Mã số giảng viên" %}:</span> {{ giangvien.mgv }}</p>
	
	<div id="content2_1" align="center">
	        {% block content2_1 %}
	        <a href="/home/giangvien/diemlop/"><span>{% trans "Điểm lớp" %}</span></a>
	        {% endblock %}
	</div>
</div>
<div id="content2_1" align="center">
        {% block content2_2 %}
        {% endblock %}
</div>

{% endblock %}