{% extends "projapp/diemlop.html" %}
 {% load i18n %}
{% block content2_2_2 %}
<style>
#hk{
	margin-top:30px;
	background:white;
	height:100px;
	width:400px;
	border:1px solid black;
	border-radius:10px;
}
#hk span{
	display:block;
	padding-top:20px;
}
	table{
		background:white;
	}
</style>
<div id="hk"align="center">
	<span>{% trans "Học kỳ -- Môn học -- Nhóm" %}:</span>
	<span>{{ lop_hoc }}</span>
</div>

<table align="center" width="500" border="1" cellspacing="0" style="margin-top:20px;">
	
	<tr>
		<td width="200" align="center">
			<font face="Arial, Helvetica, sans-serif" size="2" color="#CC3300" >
				<strong>{% trans "Sinh viên" %}</strong>
			</font>
	
		</td>										
		
		<td width="120" align="center">
			<font face="Arial, Helvetica, sans-serif" size="2" color="#CC3300" >
				<strong>{% trans "Điểm kiểm tra" %}</strong>
			</font>
		</td>
		<td width="70" align="center">
			<font face="Arial, Helvetica, sans-serif" size="2" color="#CC3300" >
				<strong>{% trans "Điểm thi" %}</strong>
			</font>
		</td>
		<td width="70" align="center">
			<font face="Arial, Helvetica, sans-serif" size="2" color="#CC3300" >
				<strong>{% trans "Điểm TK" %}</strong>
			</font>
		</td>
	</tr>
	
	{% for kq in ket_qua %}
	<tr><td align=left><font face=Tahoma size=2 color=#0080FF>{{ kq.0 }}</font></td>
		<td align=center><font face=Tahoma size=2 color=#0080FF>{{ kq.1 }}</font></td>
		<td align=center><font face=Tahoma size=2 color=#0080FF>{{ kq.2  }}</font></td>
		<td align=center><font face=Tahoma size=2 color=#0080FF>{{ kq.3  }}</font></td>
	</tr>
	{% endfor %}
</table>

{% endblock %}