{% extends "fbase.html" %}
 {% load i18n %}
{% block content %}
    <style type="text/css">
        .main{
        	background:white url({{STATIC_URL}}images/post.png) repeat-x;
        	width:800px;
        	border:1px solid black;
        	border-top-left-radius:10px;
        	border-top-right-radius:10px;
        	-moz-border-top-left-radius:10px;    	
        	-moz-border-top-right-radius:10px;   
        	border-bottom:none;
        	-moz-border-bottom:none;
        }
        .button{
        	text-decoration:none;
        	color:#01B5B8;
        }
        .button:hover{
        	color:black;
        }
        .main table tr td a{
        	transition: all 0.3s;
			-moz-transition: all 0.3s;
			-webkit-transition: all 0.3s;
			-o-transition: all 0.3s;
			-ms-transition: all 0.3s;
        }
        
    </style>

    <div class="main">

        <table border="0" cellpadding="0" cellspacing="0" width="100%" style="border: 0px solid black; ">
        	<tr style="height:30px; color: white;" align="center">
                <td style="width:250px;">{% trans "Chuyên mục" %}</td>
                <td style="width:150px;">{% trans "Số bài gửi" %}</td>
                <td rawspan="3">{% trans "Bài mới gửi" %}</td>
            </tr>
            <!-- Forums  -->
            {% for forum in forums %}
            <tr style="height: 80px;background: url({{STATIC_URL}}images/post2.png) repeat-x;" align="center">
                <td {% if forloop.last %}class="last"{% endif %}>
                <a href="{% url forum.views.forum forum.pk %}" style="font-size: 20px;" class="button">{{ forum.title }}</a>
                    </td>
                <td {% if forloop.last %}class="last"{% endif %}>{{ forum.num_posts }}</td>
                <td {% if forloop.last %}class="last" colspan="3"{% endif %}>
                    {{ forum.last_post.short|linebreaksbr }}</td>
            </tr>
            <tr></tr>

            {% endfor %}
            </table>

    </div>

{% endblock %}
