<!DOCTYPE html>
 {% load i18n %}
<html lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>{% block title %}{% trans "Tài khoản" %}{% endblock %}</title>
</head>
<body>
	<div id="language" align="left">
	{% block language %}
	{% trans "Change language" %}
    <form action="/i18n/setlang/" method="post" style="display: inline;">
		{% csrf_token %}
		<input name="next" type="hidden" value="{{ redirect_to }}" />
		<select name="language"onchange="javascript:form.submit()">
		{% get_language_info_list for LANGUAGES as languages %}
		<option></option>
		{% for lang in languages %}
		<option value="{{ lang.code }}">{{ lang.name_local }}</option>
		{% endfor %}
		</select>
	</form>

	{% endblock %}
	</div>
    <div id="sidebar" align="center">
        {% block sidebar %}
			<h2>
				<a href="/home/">{% trans "Trang chủ" %}</a> | <a href="/home/xemdiem/">{% trans "Xem điểm" %}</a> | <a href="/forum/">{% trans "Diễn đàn" %}</a>
			</h2>
        {% endblock %}
    </div>

    <div id="content" align="center">
        {% block content %}{% endblock %}
    </div>
    <div id="content2" align="center">
        {% block content2 %}{% endblock %}
    </div>
    
</body>
</html>